{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
	{{!--<header class="header">
        <button class="button">
            <img src="/svg/arrow-back.svg">
        </button>
        <button class="button">
            <img src="/img/avatar.png">
        </button>
    </header>--}}
    {{!--<h1 class="title">Мій блог</h1>--}}
    {{!--<section class="posts">
        <div class="post button">
            <div class="post__header">
                <div class="categorys">
                    <span class="category cat_impotant">Важливо</span>
                    <span class="category cat_new">Нова</span>
                </div>
                <span class="date">25.01</span>
            </div>
            <div class="post__body">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim ad iusto sunt, nam necessitatibus labore voluptatum iure voluptates ex, omnis fuga quos dicta dolore vitae itaque nihil, voluptas explicabo. Possimus!</p>
            </div>
        </div>
        <div class="post button post--viewed">
            <div class="post__header">
                <div class="categorys">
                    <span class="category cat_impotant">Важливо</span>
                    <span class="category cat_new">Нова</span>
                </div>
                <span class="date">25.01</span>
            </div>
            <div class="post__body">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim ad iusto sunt, nam necessitatibus labore voluptatum iure voluptates ex, omnis fuga quos dicta dolore vitae itaque nihil, voluptas explicabo. Possimus!</p>
            </div>
        </div>
        <div class="post button">
            <div class="post__header">
                <div class="categorys">
                    <span class="category cat_impotant">Важливо</span>
                    <span class="category cat_new">Нова</span>
                </div>
                <span class="date">25.01</span>
            </div>
            <div class="post__body">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim ad iusto sunt, nam necessitatibus labore voluptatum iure voluptates ex, omnis fuga quos dicta dolore vitae itaque nihil, voluptas explicabo. Possimus!</p>
            </div>
        </div>
    </section>--}}
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}